@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr) !important;
    // grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    background-color: #0D3089;
    .image-container{
        img{
            height: 500px;
            width: 500px;
        }
        padding-top: 100px;
        padding-left: 120px;
        padding-bottom: 60px;
        
    }

    .content{
        padding-top: 120px;
        h3{ 
            color: white;
            font-size: 60px;
            padding-left: 10px !important;
            margin-top: 60px;
        }
        a{
            text-decoration: none;
            color:white;
            font-family: 'Press Start 2P', cursive; 
        }
    }
}