<mat-horizontal-stepper>
    <mat-step>
        <div *ngIf="(products$ | async) as products" class="container_table">
            <ng-template matStepLabel>Sus Productos</ng-template>
            <p *ngIf="products.length === 0">No hay productos agregados al carrito</p>
            <!-- <ul>
                <li *ngFor="let product of products">
                    {{product.title}} Total productos {{product | group}}
                </li>
            </ul> -->
            <table *ngIf="products.length > 0" mat-table [dataSource]="products" class="mat-elevation-z8 full-width-table products-table">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let product"> {{product.title}} </td>
                </ng-container>
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let product" class="center">
                            <img  class="center" mat-card-image [src]="product.image" alt="imagen del producto ">
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef class="center">Total</th>
                    <td mat-cell *matCellDef="let product" class="center"> {{product | group}} </td>
                </ng-container>
                <!-- <ng-container matColumnDef="delete" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let product" class="center">
                    <button (click)="deleteProduct(product.title)"mat-raised-button color="warn"> Eliminar </button>    
                    </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-step>
    <mat-step>      
        <ng-template matStepLabel>Datos personales</ng-template>
        <form>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field appearance="standard">
                        <mat-label>Standard form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field appearance="standard">
                        <mat-label>Standard form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h1>Contenido</h1>
    </mat-step>
</mat-horizontal-stepper>
