:host{
    margin:2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
}
img{
    max-width: 100% ;
}
.pruebaDiv{
    margin: 0%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: red;
    h1{
        text-align: center;
        margin-top: 0%;
    }
}